<div class="top-announce warning">
	<p>Vui lòng kiểm tra thông tin đơn hàng của bạn!</p>
</div>
<div class="checkout-wrapper">
	<label>Địa chỉ giao hàng:</label>
	<input type="text" class="address" placeholder="Nhập địa chỉ vào đây" ng-model="User.address">
	<label>Thời gian giao hàng:</label>
	<input type="text" class="time" placeholder="Nhập thời gian vào đây">
	<p>Cám ơn bạn đã sử dụng dịch vụ của chúng tôi!</p>
	<p>Bạn có thể xem thông tin chi tiết về các chính sách đặt hàng và giao hàng <a href="#">tại đây</a>, hoặc gọi đến số điện thoại 0988843142 để được hỗ trợ trực tiếp.</p>
	<p class="agreement">khi bạn bấm <a href="final.html" class="confirm">xác nhận</a>, đơn hàng của bạn sẽ không thể được hủy</p>
</div>