<header>
	<nav id="navbar">
		<div class="brand">
			<div id="logo"><a href="#">.Cơm</a></div>
			<p>ngon mỗi ngày</p>
		</div>
		<div class="nav-info">
			<span>Bạn đã tiết kiệm: <span class="yellow" ng-bind="User.saving"></span> | Bạn có: <span class="yellow">2 triệu đ</span></span>				
		</div>
		<div class="nav-user">
			<a href="#" class="user"><img src="img/user.png"></a>
			<ul class="user-menu">
				<li><a href="#">nạp tiền</a></li>
				<li><a href="#">hỗ trợ</a></li>
			</ul>
		</div>
	</nav>
</header>