<header>
	<nav id="navbar">
		<div class="brand">
			<div id="logo"><a>.Cơm</a></div>
			<p>ngon mỗi ngày</p>
		</div>
		<div class="nav-info fade-in" ng-class="{'fade-in-animate':_User.fetched}">
			<span>
				bạn đã tiết kiệm:
				<span class="yellow" 
					ng-bind="formatMoney(User.saving)"
				></span>
				đ | bạn có: 
				<span class="yellow"
					ng-bind="formatMoney(User.balance)"
				></span> đ
			</span>
		</div>
		<div class="nav-user">
			<a class="user"><img src="img/user.png"></a>
			<ul class="user-menu">
				<li><a>nạp tiền</a></li>
				<li><a>hỗ trợ</a></li>
			</ul>
		</div>
	</nav>
</header>
<section id="left-bar">
	<div class="left-wrapper">
		<div class="discount">
			<!-- <ul class="promo-menu">
				<li id="feature"><a>món nổi bật</a></li>
				<li id="recommend"><a>thực đơn gợi ý</a></li>
				<li id="priceoff"><a>khuyến mại</a></li>
			</ul> -->
			<div class="discount-countdown">
				<h3>mức chiết khấu</h3>
				<p ng-if="!Discount.currentDiscountLoaded">(đang tải)</p>
				<p ng-if="Discount.currentDiscountLoaded">(đang giảm)</p>
				<p class="discount-value">
					<span class=" fade-in" ng-class="{'fade-in-animate':Discount.currentDiscountLoaded}">
						<span ng-bind="Discount.currentDiscount.toFixed(4)+'%'"><span>
					<span>
				</p>
				<a class="term">chính sách chiết khấu</a>
			</div>
		</div>
		<div class="menu-cat">
			<ul>
				<li 
					ng-repeat="category in Categories.list track by $index"
				>
					<a
						ng-class="{actived:$index==Categories.activeCategory}"
						ng-click="Categories.activate(category.id)"
					>
						{{category.title}}
					</a>
				</li>
			</ul>
		</div>
		<div class="contact">
			<p>Hotline: 0988843142</p>
		</div>
	</div>
</section>
<section id="center-bar">
	<div class="top-wrapper fade-in" ng-class="{'fade-in-animate':Menu.fetched}">
		<div class="search">
			<input 
				type="text" 
				class="s" 
				placeholder="tìm kiếm món ăn" 
				ng-model="itemSearch"
				ng-change="loadAllCategory()"
			>
		</div>
		<div class="arrange">
			<label>Sắp xếp theo:</label>
			<span><a>một cách nào đó <b class="caret"></b></a></span>
			<div class="option">

			</div>
		</div>
	</div>
	<div class="menu-wrapper">
		<div 
			class="menu-item"
			ng-repeat = "item in Menu.list | menuOrder: itemSearch | search: itemSearch"
		>
			<div class="item-left">
				<img ng-src="{{item.img}}">
				<p class="item-price">
					<span ng-bind="formatMoney(item.price)"></span> đ
				</p>
			</div>
			<div class="item-right">					
				<div class="item-content">
					<h2 ng-bind="item.name"></h2>
					<p ng-bind="item.desc"></p>
				</div>
				<div class="item-meta">
					<a ng-click="Ordering.addItem(item)" class="add-to-cart">+</a>
					<a class="show-info">i</a>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</section>
<section id="right-bar">
	<div class="right-wrapper">
		<div id="order-info">
			<div class="customer fade-in" ng-class="{'fade-in-animate':_User.fetched}">
				<h3 ng-bind="User.name"></h3>
				<p ng-bind="User.mobile"></p>
				<p ng-bind="User.address"></p>
			</div>
			<div class="order-date">
				<p><a>đơn hàng đã đặt</a></p>
				<p>ngày: <a>{{Date.getDate()}}/{{Date.getMonth()+1}}/{{Date.getFullYear()}}</a></p>
			</div>
		</div>
		<div class="clearfix"></div>
		<div id="order-cart">
			<div class="order-item" 
				ng-repeat="item in Ordering.order track by $index"
				ng-init="mouseOver=false"
				ng-mouseenter="mouseOver=true"
				ng-mouseleave="mouseOver=false"
			>
				<h2 ng-bind="item.name"></h2>
				<div class="order-item-price" 
					
				>
					<p><span ng-bind="formatMoney(item.price*item.quantity)"></span> đ</p>
				</div>
				<div class="order-item-quantity">
					<a ng-click="Ordering.increaseItem($index)"><b class="quantity-inc"></b></a>
					<span ng-bind="item.quantity"></span>
					<a 
						ng-click="Ordering.decreaseItem($index)"
						ng-show="item.quantity>1"
					>
						<b class="quantity-dec"></b>
					</a>
				</div>
				<div class="order-item-delete ninja-slide" 
					ng-class="{'ninja-slide-hidden':!mouseOver}"
					ng-click="Ordering.deleteItem($index)"
				>
					<p>Xóa</p>
				</div>
			</div>
		</div>
		<div id="order-discount">
			<div class="order-discount-default">
				<label>Chiết khấu:</label>
				<div class="order-discount-value">
					<p>
						<span ng-bind="formatMoney(-Ordering.totalCost()*Discount.currentDiscount/100)"></span>
						 đ</p>
				</div>
			</div>
			<div class="order-discount-coupon">
				<input type="text" class="coupon" placeholder="bạn có coupon?">
			</div>
		</div>
		<div id="order-summary">
			<label>Tổng tiền:</label>
			<div class="order-summary-value">
				<p><span ng-bind="formatMoney(Ordering.totalCost()*(100-Discount.currentDiscount)/100)"></span> đ</p>
			</div>
			<div class="clearfix"></div>
		</div>
		<div id="order-checkout">
			<a class="button cancel">Hủy đơn</a>
			<a href="bill.html" class="button checkout">Đặt cơm</a>
		</div>
	</div>
</section>